@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    font-family: "Noto Sans Thai", sans-serif;
}


* {
    box-sizing: border-box
}

html,
body,
#root {
    height: 100%
}

body {
    margin: 0;
    font-family: system-ui, Segoe UI, Roboto, Arial, sans-serif;
    background: var(--bg);
    color: var(--text)
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px
}

@media (min-width:640px) {
    .container {
        padding: 24px
    }
}