.git
.github
**/node_modules
.pnpm
.pnpm-store
**/dist
**/.next
**/build
**/*.log
.env
**/.env
**/.env.*
!infra/docker/.env.production.example
backups/
*.md
!apps/*/README.md
.vscode
.claude
.windsurf
Makefile
deploy.sh