services:
  db:
    container_name: ems-mysql
    image: mysql:8.4
    ports: ["${DB_PORT}:3306"]
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","127.0.0.1","-u${MYSQL_USER}","-p${MYSQL_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 10

  phpmyadmin:
    container_name: ems-phpmyadmin
    image: phpmyadmin:latest
    restart: unless-stopped
    ports: ["${PMA_PORT}:80"]
    environment: { PMA_HOST: db }
    depends_on:
      db: { condition: service_healthy }

  backend:
    container_name: ems-backend
    build:
      context: ../..                 # root
      dockerfile: apps/backend/Dockerfile.dev
    env_file: .env
    environment:
      PORT: ${BACKEND_PORT}
      DB_HOST: db
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
    ports: ["${BACKEND_PORT}:${BACKEND_PORT}"]
    volumes:
      - ../../apps/backend/src:/app/apps/backend/src
      - uploads-data:/app/uploads
    depends_on:
      db: { condition: service_healthy }


  frontend:
    container_name: ems-frontend
    build:
      context: ../..                 # root
      dockerfile: apps/frontend/Dockerfile.dev
    env_file: .env
    environment:
      VITE_API_URL: ${VITE_API_URL}
      VITE_API_BASE: ${VITE_API_BASE}
      VITE_HMR_HOST: localhost
      VITE_HMR_PORT: 5173
    ports: ["5173:5173"]
    volumes:
      - ../../apps/frontend/src:/app/apps/frontend/src
    depends_on: [backend]
volumes:
  db-data:
  backend_node_modules:
  frontend_node_modules:
  uploads-data:

